*{
    margin: 0px;
    padding: 0px; 
    overflow-x: hidden;
    /* color: #5d4954; */
    outline: none;
}



html {
    -webkit-text-size-adjust: none;
}

body{
    background-color: black;
}

.carousel-inner{
    /* padding-top: 100px; */
}

#carouselExampleControls{
    padding-top:65px;
    width:80%;
    margin: auto;

}

.job-desc{
    
    padding: 1vw;
    color: black;
}

.title{
    color: rgb(128, 29, 29);
}

.job-box{
    background-color: #615f5f; 
    border-style: solid;
    padding: 4vw;
    margin: 5vw;
}

/* #about-me-box{
    background-color: #615f5f; 
    border-style: solid;
    padding: 4vw;
    margin: 5vw;
} */

#job-title{
    padding-top: 2vw;
    text-align: center;
    color: pink;
}

.resume-button{
    padding-top:8px;
}

#job-location{
    display:inline-block;
    width: 46%;
    margin-right:10px; 
    color: black;
}

#job-duration{
    display:inline-block; 
    width: 46%;  
    text-align: right;
    color: black;
}

/* .jobs{
    border-style: solid;
    background-color: #555454;
    padding: 4vw;
    margin: 4vw;
} */



#about-me-desc{
    color:white;
    padding: 4vw;
}

#me{
    width: 250px;
    height: 250px;
}


.project-names{
    background-color: #615f5f; 
    border-style: solid;
    padding: 4vw;
    margin: 5vw;
}

.website-desc{
    color: black;
    text-align: center;
}

#subtitle{
    text-align: center;
    color: pink;
}


.about-me, .work, .projects{
    margin: 20px;
    
}
.carousel-inner img{
    opacity: 0.5;
}


.carousel-item{
    /* position: relative; */
    text-align: center;
    color: white;
}
.center{
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
    background-color: #5d4954;
    
}


/* tablet screen */
@media only screen and (min-width: 600px) {
    #carouselExampleControls {
      height: 65%;
      width: 65%;
    }
    body{
        background-color: black;
    }
    
} 

/* desktop screen */
@media only screen and (min-width: 992px) {
    
    nav{
        max-height: 10vh;
    }
    #about-me-desc{  
        display: inline-block;
    }
    #photo{
        opacity: 0.8;
        width: 250px;
        height: 250px;
    }
    #me{
        float: left;
        width: 40%;
    }
    #about-me-text{
        float: right;
        width: 50%;
    }
    body{
        /* background-color: white; for testing purposes change color */
    }
    
} 

/* mobile  */
@media only screen and (max-width: 992px) {
    #me{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    #about-me-desc{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #photo{
        width: 250px;
        height: 250px;
        
    }
    .nav-item{
        
        
        
        
        
    }
    
} 



/* .logo {
    color: rgb(206, 206, 206);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display:flex;
    justify-content: space-around;
    width: 30%;
} */

/* .nav-links li{
    list-style: none;
    margin-top: 10px;
}

.nav-links a{
    color:rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
} */

/* .burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 20px;
    height: 2px;
    background-color: rgb(206, 206, 206);
    margin: 5px;
    transition: all 0.3s ease;
} */

/* Table */
/* @media screen and (max-width: 1024px){
    .nav-links{
        width: 50%;
    }
} */

/* Mobile */
/* @media screen and (max-width: 768px){
    html, body{
        
        overflow-x: hidden;
        overflow-y: scroll; 

    }
    .nav-links{
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

} */
/*
.nav-active{
    transform: translate(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    } 
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 4px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
} */

.contact-me-wrapper{
    background: white;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4p 4px 2px rgba(254, 236, 164, 1);
}

.contact-me-wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.contact-me-wrapper .input-field{
    margin-bottom: 10px;
}

.contact-me-wrapper #button{
    border:0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #5d4954;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;

}

.contact-me-wrapper .input-field input[type="text"],
.contact-me-wrapper .input-field input[type="email"],
.contact-me-wrapper textarea{
    width: 100%;
    padding: 10px;
}



.contact-me-wrapper textarea{
    height: 80px;
    resize: none;
}






.contact-me-wrapper #error-message{
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}


ul{
    list-style-position: inside;
    list-style-type: decimal;
    margin: 0;
    padding: 30px;
}

footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#5d4954;
    text-align: center;
}